body{
    padding:0;
    margin-top:60px;
    overflow-x:hidden;
}
.jumbotron p{
    font-size:16px;
}

.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #3b6e22  1px;
  text-decoration: none;
}


form input{
    margin-bottom:10px;
}

form label{
    color:#fff;
}
.bucket-item{
    padding:20px;
    height:450px;
}
.item-done{
    position: absolute;
    bottom: 0;
    right: 0;
}
ul.list-group button{
    visibility:hidden;
}
ul.list-group li{
    position:relative;
}
ul.list-group li:hover button{
    visibility:visible;
}
.bucket-item .edit-form{
    display:none;
    padding:20px;
    position:relative;
    z-index:10;
    background:#fff;
    border:solid 1px black;
}
.bucket-link{
    margin-bottom:20px;
}
.bucket-item .panel-heading a{
    margin-left:5px;
    color:#fff;
    font-weight:500;
    visibility:hidden;
}
.bucket-item .panel-body p em{
    color:gray;
}
.bucket-item .panel-heading:hover a{
    visibility: visible;
    transition: all 0.3 ease-out;

}
.errorlist li{
    color: red;
}
.radio-inline label{
    color:#000;
}
.radio-inline{
    padding:10px;
}
