
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-4">
          <h2>Github Link</h2>
          <p>This project source code is available on github you can click the button below to view the source code</p>
          <p><a class="btn btn-default" href="https://github.com/andela-ashuaib/django-bucketlist-application" role="button">View Github Source Codes</a></p>
        </div>
                <div class="col-sm-4">
          <h2>Django Powered</h2>
          <p>This website is powered by django, a framework for perfectionist with deadlines click the buttton below to learn mroe </p>
          <p><a class="btn btn-default" href="https://www.djangoproject.com/" role="button">Learn More »</a></p>
        </div>

        <div class="col-sm-4">
          <h2>Heroku Server</h2>
          <p>This service was hosted on heroku free app click the button below to learn more about heroku login </p>
          <p><a class="btn btn-default" href="http://www.herokuapp.com" role="button">Learn More »</a></p>
        </div>


      </div>
        </div> 
