
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-4">
          <h2>Create, track, and achieve
your life goals</h2>
          <p>With Bucketlist you can explore thousands of great ideas. We want to inspire you, it's easy to add goals to your list or create new ideas.</p>
          <p><a class="btn btn-default" href="{% url 'signup' %}" role="button">Learn More</a></p>
        </div>
                <div class="col-sm-4">
          <h2>Create, track, and achieve
your life goals</h2>
          <p>Bucketlist is the best, free tool for achieving your life goals, and we're always getting better.</p>
          <p><a class="btn btn-default" href="{% url 'signup' %}" role="button">View details »</a></p>
        </div>

        <div class="col-sm-4">
          <h2>See how others have achieved
their goals</h2>
          <p>There are 481,679 completed goals. See how Jason Lindstrom, one of our members climbed Mount Kilimanjaro. </p>
          <p><a class="btn btn-default" href="{% url 'signup' %}" role="button">View details »</a></p>
        </div>


      </div>
        </div> 
