{% extends "base/layout.html" %} {% block content %} {% include 'partials/navbar.html' %}
<div class="container">
    <div class="row text-center">
        <div class="col-sm-4">
            <form class "form-control">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
        <button class="btn btn-default bucket-link" type="button">Go!</button>
      </span>
                </div>
            </form>
            <!-- /input-group -->
        </div>
        <div class="col-sm-4">
        {% include 'includes/messages.html' %} 
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-sm-4 pull-right">
            <a class="btn btn-block btn-default new-bucket-link" data-toggle="modal" data-target="#bucketlistModal"> Add New Bucket List Collections<span class="glyphicon glyphicon-plus"></span></a>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        {% for bucketlist in bucketlists %}
        <div class="col-sm-4 bucket-item">
            <div class="panel panel-{{bucketlist.color}}">
                <!-- Default panel contents -->
                <div class="panel-heading"><a href="{% url 'edit_bucketlist' id=bucketlist.id %}" class="link-bucket">{{ bucketlist.name }}</a>
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        <a href="#" class="edit-bucketitem"><span class="glyphicon glyphicon-pencil" style="color:{% if bucketlist.color == 'primary' %}white {% else %}black {% endif %}"></span></a>
                        <a href="#" data-toggle="popover" data-placement="top" title="Are you sure you want to delete this collection" data-content="<form method='post' action='{% url 'delete_bucketlist' id=bucketlist.id %}' class='form-group'>{% csrf_token %} <button type='submit' class='btn-danger btn'>Delete </button><button type='reset' class='btn-default btn pull-right'>Canceal </button></form>" class="delete-bucketitem"><span class="glyphicon glyphicon-trash"style="color:{% if bucketlist.color == 'primary' %}white {% else %}black {% endif %}"></span></a></div>
                </div>
                <div class="bucket-item-content">
                    <div class="panel-body">
                        <p><em>{{bucketlist.description}}</em></p>
                        <ul class="list-group">
                            {% for item in bucketlist.items.all|slice:":4" %} 
                            {% if item.done %}
                            <li class="list-group-item">
                                <del>{{item.name}}</del>
                                <p><small><em><strike>{{item.description}}</strike></em></small></p>
                                <form method="post" action="{% url 'item_done' id=item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-warning item-done"> Not Done Yet ? </button>
                                </form>
                            </li>
                            {% else %}
                            <li class="list-group-item">{{item.name}}
                                <p><small><em>{{item.description}}</em></small></p>
                                <form method="post" action="{% url 'item_done' id=item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-warning item-done"> Done? </button>
                                </form>
                            </li>
                            {% endif %} {% empty %}
                            <li class="list-group-item">No item on this list</li>
                            {% endfor %}
                            {% if bucketlist.items.all|length > 4 %}<a class="btn btn-sm btn-{{bucketlist.color}} text-center show-more" href="{% url 'edit_bucketlist' id=bucketlist.id %}"> Show more </a>{% endif %}
                        </ul>
                    </div>
                </div>
                <form class="form-horizontal edit-form" action="{% url 'edit_bucketlist' id=bucketlist.id %}" method="post">
                    <h4> Edit this Bucket Item</h4> {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="name" value="{{bucketlist.name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="2" name="description">{{bucketlist.description}}</textarea>
                        </div>
                    </div>
                    <h5> Color Scheme</h5>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="radio-inline">
                                <label>
                                    <input class="radio-inline" maxlength="100" name="color" type="radio" value="success"> green</label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input class="radio-inline" maxlength="100" name="color" type="radio" value="default"> gray</label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input class="radio-inline" maxlength="100" name="color" type="radio" value="primary"> blue</label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input class="radio-inline" maxlength="100" name="color" type="radio" value="warning"> yellow</label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input class="radio-inline" maxlength="100" name="color" type="radio" value="danger"> red</label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!-- List group -->
                <a class="btn btn-{{bucketlist.color}} pull-right btn-sm bucket-link" data-toggle="modal" data-target="#ItemModal" data-placement="top" title="Add more items to {{bucketlist.name}}" data-action="{% url 'add_item' id=bucketlist.id %}"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        {% empty %}
        <p class="text-center text-danger"> You Currently have no bucketlist add one nnow</p>
        {% endfor %}
    </div>
    {% if bucketlists|length > 0 %}
    <nav>
        <ul class="pager">
            <li class="previous {% if not bucketlists.has_previous %} disabled {% endif %}">
                <a href="{% if bucketlists.has_previous %} ?page={{ bucketlists.previous_page_number }}{% else %} #{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in bucketlists.paginator.page_range %}
            <li><a href="{% if bucketlists.number != page %} ?page={{page}} {% else %} # {% endif %}">{{page}}</a></li>
            {% endfor %}
            <li class="next {% if not bucketlists.has_next %} disabled {% endif %}">
                <a href="{% if bucketlists.has_next %} ?page={{ bucketlists.next_page_number }}{% else %} #{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
</div>
<hr> {% include 'partials/new-bucket-collections-modal.html' %} {% include 'partials/new-bucket-item-modal.html' %} 
{% endblock content %}
