
{% extends "base/layout.html" %}

{% block content %}

{% include 'partials/navbar.html' %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>Simple Bucket List App</h2>
        <p>Hi there, Do you ever have this feeling that you are goin go die soon? Have you ever wondered what it feel like to achieve everything you dream of achieving, your life goals find love, your dream job, and your dream vacation. Why dont you sign up and document it down</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign Up</a></p>
      </div>
      </div>
      </div>
    </div>
{% include 'partials/home-page-headings.html' %}
      <hr>


<!-- /container -->



{% endblock content %}