{% extends "base/layout.html" %}

{% block content %} 
{% include 'partials/navbar.html' %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form action="{% url 'signup' %}" method="post" accept-charset="utf-8" class="form" role="form">
                {% csrf_token %}
                    <h2>Sign Up</h2>
                    <hr>
                    
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                        {{ registerform.first_name.errors }}
                           {{ registerform.first_name }}
                           </div>
                        <div class="col-xs-6 col-md-6">
                        {{ registerform.last_name.errors }}
                           {{ registerform.last_name }}
                          </div>
                    </div>
                    {{ registerform.username.errors }}
                    {{ registerform.username }}
                    {{ registerform.email.errors }}
                    {{ registerform.email }}
                    {{ registerform.password.errors }}
                    {{ registerform.password }}
                    {{ registerform.password_conf.errors }}
                    {{ registerform.password_conf }}

                    <button class="btn btn-lg btn-success signup-btn" type="submit">
                        Create account</button>
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- /container -->
{% endblock content %}
